server:
  port: 8081

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/api/product/**

        - id: cart-service
          uri: lb://cart-service
          predicates:
            - Path=/api/cart/**

        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payment/**


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true

#logging:
#  level:
#    org.springframework.cloud.gateway: DEBUG
#    reactor.netty.http.client: DEBUG






#server:
#  port: 8081
#
#
#spring:
#  application:
#    name: API-Gateway
#  cloud:
#    gateway:
#      routes:
#        - id: product-service
#          uri: lb://Product-Service
#          predicates:
#            - Path=/api/product/**
#        - id: cart-service
#          uri: lb://Cart-Service
#          predicates:
#            - Path=/api/cart/**
#        - id: payment-service
#          uri: lb://Payment-Service
#          predicates:
#            - Path=/api/payment/**
#
#eureka:
#  client:
#    register-with-eureka: true
#    fetch-registry: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
#  instance:
#    hostname: localhost
#
#
#management:
#  endpoints:
#    web:
#      exposure:
#        include: "*"
#  endpoint:
#    gateway:
#      enabled: true
#
